.container {
    padding: 0 1rem;
    max-width: 20rem;

    h2 {
        margin-bottom: 1rem;
        width: 100%;
    }
   
    form {
        display: flex;
        flex-direction: column;
        
        input {
            margin-bottom: 1rem;
        }

        input[type="range"] {
            width: 75%;
            margin-right: 1.5rem;
        }

    }

    .presets {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:1rem;
        margin-bottom: 2rem;

        h2 {
            margin: 0;
        }

    }

    button {
        color: white;
        margin-top:0
    }

    .visualize {
        box-sizing: border-box;
        button {
            width: 100%;
            color: black;
            margin: 2rem 0;
            background-color: rgb(195, 195, 195);
        }

        button:hover {
            box-shadow: 0 0 16px 4px rgba(145, 92, 182, .6);
          }
    }
}